<template>
    <div v-on:click="roll">{{ value }}</div>
</template>

<script>
export default {
    name: 'Dice',
    data() {
        return {
            value: 17
        }
    },
    methods: {
        roll() {
            this.value = Math.ceil(Math.random() * 6);
        }
    }
}
</script>

<style scoped>
    div {
        border: 2px solid black;
        border-radius: 5px;
        width: 64px;
        height: 64px;
        line-height: 64px;
        cursor: pointer;
    }
</style>